@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}


input[type="button"],
input[type="text"],
input[type="image"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    background: none;
}

textarea {
    resize: none;
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

/* μ„Έν… */
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Pretendard', 'sans-serif';
    font-size: 1em;
    font-weight: 400;
    color: #151515;
    -webkit-text-size-adjust: 100%;
    line-height: 1.92;
}
