@font-face {
    font-family: 'Montreal';
    src: url(../fonts/Montreal.woff) format(woff);
}

@font-face {
    font-family: 'DaVinci';
    src: url(../fonts/DaVinci.woff) format(woff);
}

@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Light.woff2) format(woff2);
    font-weight: 200;
}

@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Regular.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Medium.woff2) format(woff2);
    font-weight: 500;
}
